{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'question/style.css' %}">
</head>

{% if latest_question_list%}
<ul>
	{% for question in latest_question_list%}
	<li><a href="{% url 'question:detail' question.id %}">{{question.question_text}}</a></li>
	{% endfor%}
</ul>
{% else %}
	<p>No question are available.</p>
{% endif%}