{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}

<p>No account?  <a href = "{% url 'question:signup_view' %}"  >register</a></p>
